<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <title>Main Page</title>
</head>
<body>
<div layout:fragment="content" th:with="username=${#httpServletRequest.remoteUser}">
    <h2 th:if="${!#strings.isEmpty(username)}" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h2>
    <h2 th:if="${#strings.isEmpty(username)}" th:inline="text">Welcome guest!</h2>
    <div th:if="${#strings.isEmpty(username)}">
        <form th:action="@{/login}" method="get">
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
        <span>Don`t have an account?</span>
        <a href="/registration">Register</a>
    </div>
</div>
</body>
</html>