<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <title>User Profile</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="text-center" th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]!</h2>
    <p class="fst-italic" th:inline="text">Add your mobile phone number to get Telegram notifications</p>
    <form th:action="@{/profile}" method="post">
        <div class="row mb-3">
            <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone number:</label>
            <div class="col-sm-6">
                <input id="inputPhoneNumber" class="form-control" type="text" name="phoneNumber"/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
</body>
</html>