<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
  <title>Register New User</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/registration}" method="post">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Username:</label>
      <div class="col-sm-6">
        <input id="inputName" class="form-control" type="text" name="name" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-6">
        <input id="inputPassword" class="form-control" type="password" name="password" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone number:</label>
      <div class="col-sm-6">
        <input id="inputPhoneNumber" class="form-control" type="text" name="phoneNumber"/>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
</body>
</html>