<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <title>Tasks</title>
    <script src="../static/index.js"></script>
    <script src="../static/data.js"></script>
</head>
<!--<body class="dx-viewport">-->
<body>
<div layout:fragment="content">
    <div>
        [[${resultMessage}]]
    </div>
    <h1>Task list</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Priority</th>
        </tr>
        <tr th:each = "task : ${tasks}">
            <td th:text="${task.title}">123</td>
            <td th:text="${task.description}">123</td>
            <td th:text="${task.startDate}">123</td>
            <td th:text="${task.priority}">123</td>
        </tr>
    </table>
    <a href="/tasks/add">Add a new task</a>
</div>
<div id="scheduler"></div>
</body>
</html>