<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secretary</title>
</head>
<body>
<h1>Task list</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Priority</th>
    </tr>
    <tr th:each = "task : ${tasks}">
        <td th:text="${task.title}">123</td>
        <td th:text="${task.description}">123</td>
        <td th:text="${task.date}">123</td>
        <td th:text="${task.priority}">123</td>
    </tr>
</table>
<a href="/tasks/add">Add a new task</a>

</body>
</html>